.main{
   width: 100%;
   position: relative;
   overflow: hidden;
   margin-top: 3.5em;
}

.clock-container{
   width: 100%;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

.clock{
   width: 80vw;
   height: 80vw;
   background: radial-gradient(rgba(255,255,255,.6), rgba(0,0,0,.9));
   border-radius: 50%;
   border: 5px solid $bg-clr-dark;
   position: relative;
   box-shadow:
       inset 0 0 0 4px $bg-clr-dark,
       inset 0 0 0 8px $main-clr,
       inset 0 0 0 12px $sec-clr,
       inset 0 0 0 16x $bg-clr-dark;

// circulo central donde se unen las agujas
   &::after{
      content: '';
      width: 25px;
      height: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      border-radius: 50%;
      border: 1px solid $bg-clr-light;
      background: $bg-clr-dark;
      z-index: 100;
   }

   @include table {
      width: 60vw;
      height: 60vw;
   }

   @include laptop {
      width: 30vw;
      height: 30vw;
   }

}

// logo de taguara digitla colocado debajo del 12
.brand{
   position: absolute;
   top: 20%;
   right: 50%;
   transform: translatex(50%);
   width: 90px;
}

//dia de la semana colocado al lado del 3
.dayofweek{
   position: absolute;
   bottom: 50%;
   right: 20%;
   transform: translateY(50%);
   width: 40px;
   height: 20px;
   background: $bg-clr-light;
   border: 1px solid $bg-clr-dark;
   font-size: .7rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.numbers{
   --rotation:0;
   position: absolute;
   width: 100%;
   font-size: 2rem;
   height: 100%;
   text-align: center;
   transform: rotate(var(--rotation));
   padding: 25px;

   @include table {
      font-size: 2rem;
   }

   @include laptop {
      font-size: 2.2rem;
   }

   div{
      transform: rotate(var(--rotation));
   }

   &::after{
      content: "";
      position: absolute;
      top: 12px;
      left: 50%;
      transform: translateX(-50%);
      width: 3px;
      height: 15px;
      background-color: $bg-clr-dark;
   }
}

@for $i from 1 to 12 {
   .number#{$i}{
      --rotation: calc(#{$i} * 30deg);
      div{
      --rotation: calc(#{$i} * -30deg);
      }
   }
}

.hands{
   --rotation:0;
   position: absolute;
   bottom: 50%;
   left: 50%;
   transform-origin: bottom;
   transform: translateX(-50%) rotate((calc(var(--rotation) * 1deg)));
   width: 10px;
   height: 30%;
   background: $bg-clr-dark;
   border: 1px solid $bg-clr-light;
   border-radius: 5px 5px 0 0;
   z-index: 100;
}
.seconds{
   --rotation:0;
   width: 4px;
   height: 40%;
   background: $dgr-clr;
}
.minutes{
   --rotation:0;
   width: 7px;
   height: 35%;
}
