.header{
   width: 100%;
   position: fixed;
   height: 60px;
   top: 0;
   z-index: 200;
}

.nav{
   padding: 0 2rem;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
   background: $main-clr;

   @include table {
      flex-direction: row;
   }
}

.nav__links{
   display: flex;
}

.nav__list{
   width: 100%;
   text-align: center;
   display: none;
   align-items: center;
   justify-content: space-around;
   transition: all .5s ease-out  ;

   @include table {
      display: flex;
      flex-direction: row;
   //    justify-content: space-around;
   //    align-items: center;
   //    width: 70%;
   //    height: 100%;
   //    transform: translate(0);
   }
}

.nav__item{                         // li
   margin: 0 .2rem;
   // transition: all .5s ease-out;
   &:hover,
   &--active {
      border-bottom: 2px solid $sec-clr;
      // background-color: $cta-clr;
   }
}

.nav__link{                      // a
   text-transform: uppercase;
   font-size: 1.2em;
   font-weight: bold;
   display: block;
   padding: 0 1rem;
   color: $sec-clr;


   // &:hover{
   //    background-color: $sec-clr;
   //    color: $main-clr;
   // }
}

.nav__logo{
   width: 100px;
}

.toggle-menu{
   position: absolute;
   top: 1em;
   right: 1em;
   width: 2.5rem;
   height: 2.5rem;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: .1rem .1rem .5rem $sec-clr;
   border-radius: 5px;

   @include table {
      display: none;
   }

   &:hover{
      transform: scale(.95);
   }

   .bar{
      width: 2rem;
      height: 2px;
      background-color: $sec-clr;
      border-radius: 5px;
      display: inline-block;
      position: relative;

      &::before,
      &::after{
         content: '';
         position: absolute;
         width: inherit;
         height: inherit;
         background-color: $sec-clr;
         transition: all .5s ease-out;
      }

      &::before{
         top: -.6rem;
      }

      &::after{
         top: .6rem;
      }

      }
}

// .open{
//    .nav__list{
//       transform: translate(0);
//    }

//    .bar{
//       background-color: transparent;
      
//       &::before{
//          top: 0;
//          transform: rotate(135deg);
//       }

//       &::after{
//          top: 0;
//          transform: rotate(-135deg);
//       }
//    }
// }